@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
/* div {
	transition: all 3s ease;
} */
body {
	background-color: #000000;
	color: white;
	height: 100vh;
	/* overflow: hidden; */
	max-width: 2000px;
	margin: auto;
}
.modal {
	transition: all 3s ease;
}
.modal1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;

	font-size: 10rem;
	background: rgb(25, 46, 66);
}
.modal2 {
	position: absolute;
	top: 0;
	left: 100%;
	width: 50%;
	height: 100%;

	background: rgb(119, 73, 115);
}
.modal3 {
	position: absolute;
	top: 0;
	left: 100%;
	width: 50%;
	height: 100%;

	background: rgb(68, 38, 68);
}
.modal4 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 100%;
	width: 50%;
	height: 100%;

	background-color: #7e4f4f;
}
.main_title {
	font-size: 3rem;
	font-weight: 900;
}
.container {
	position: absolute;
	z-index: 1;
	width: 80%;
	background-color: transparent;
	height: 1500px;
	padding: 4rem;
	top: 100%;
	left: 10%;
	display: grid;

	gap: 10px;
	grid-template-columns: 10% 10% 20% 50% 10%;
	grid-template-rows: 30% 70%;
	grid-template-areas: "space1 hero info_me info_me space2" " space1 info_side info_side job_and_xp space3";
	opacity: 0;
}
.empty1 {
	grid-area: space1;
	background-color: transparent;
}
.empty2 {
	grid-area: space2;
	background-color: transparent;
}
.empty3 {
	grid-area: space3;
	background-color: transparent;
}
.hero_image {
	width: 100%;
	height: auto;
	border-radius: 50px;
}
.info_me {
	grid-area: info_me;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;
}
.hero {
	grid-area: hero;
	display: grid;
	align-items: center;
	opacity: 0;
}
.info_side {
	grid-area: info_side;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2rem;
	opacity: 0;
}
.info_side > div {
	margin-bottom: 100px;
}
.job_and_xp {
	opacity: 0;
	grid-area: job_and_xp;
	padding: 0 2rem;
}
span,
p {
	margin-left: 1rem;
}
h3 {
	padding: 0.5rem 0 0.5rem 0;
}
h2 {
	padding: 1rem 0;
}
h4 {
	font-size: 1.2rem;
}
h4,
h2 {
	animation: anim 2s infinite;
}
.tremble {
	animation: tremble 1s infinite;
}
.tremble:hover {
	animation: none;

	font-weight: bold;
	color: #000000;
}
.bubble {
	border-radius: 50%;
	position: absolute;
	transition: all 3s ease-in-out;
	opacity: 0.8;
	z-index: 1000;
}
.dashboard {
	position: fixed;
	top: 30px;
	right: 10px;
	background-color: #ccccccc5;
	color: black;
	font-size: 2rem;
	padding: 1rem;
	opacity: 0;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 8;
	transition: all 2s ease-in-out;
}
.dashboard > span {
	margin: 0;
}
.gameDashboard > span {
	margin: 0;
}

.bubbleCounter::after {
	content: " bubbles";
	width: fit-content;
	font-size: 1rem;

	color: black;
	opacity: 1;
}

.slider {
	display: flex;
	padding: 1rem;
}
.btn {
	padding: 1rem;
	font-weight: 500;
	font-size: 0.9rem;
	width: 150px;
	cursor: pointer;
	margin-top: 1rem;
	background-color: #383838;
	color: white;
}
.btn:hover {
	background-color: white;
	color: #383838;
}
.btn-plus {
	color: #383838;
}
.btn-plus:hover {
	transform: scale(1.2);
	transition: scale 1s ease;
	color: black;
	cursor: pointer;
}
.fyeah {
	padding: 2rem;
	font-size: 2rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.452);
	border-radius: 10px;
}

.gameDashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hide {
	display: none;
}

@keyframes anim {
	0%,
	100% {
		text-decoration: underline transparent;
	}
	50% {
		text-decoration: underline rgb(200, 5, 5);
	}
}
@keyframes tremble {
	0%,
	100% {
		transform: translate(-0.5px, -1.5px);
	}
	50% {
		transform: translate(+0.5px, +1.5px);
	}
}

@media screen and (max-width: 1000px) {
	div {
		margin: 1.5rem 0 0 0;
	}
	.modal1 {
		font-size: 2rem;
	}
	body {
		overflow: visible;
		background-color: #383838;
	}
	.container {
		grid-template-columns: 100%;
		grid-template-rows: 15% 55% 30%;
		grid-template-areas: "info_me" "job_and_xp" "info_side";
		height: fit-content;

		padding: 10px;
	}
	.info_me {
		background-image: url("./imgs/leif.jpg");
		background-position: right;
		background-size: contain;
		background-repeat: no-repeat;
		padding-right: 100px;
	}
	.info_side {
		justify-content: center;
		align-items: center;
	}
	.info_side > div {
		margin: 0;
	}
	.hero {
		display: none;
	}
	.dashboard {
		top: -10px;
		left: -100px;
		padding: 0;

		width: 120vw;

		transition: none;
		background: white;
	}
}
