@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto+Condensed&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
/* div {
	transition: all 3s ease;
} */
body {
	background-color: rgb(25, 46, 66);
	color: white;
	height: 100vh;
	overflow: hidden;
	max-width: 2000px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.modal {
	transition: all 3s ease;
}
.modal1 {
	clip-path: circle(0% at 50% 50%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;

	font-size: 7rem;
	background-image: url("./imgs/montagnes2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	transition: circle 2s, ease-in-out;
}
.textAnimation > p {
	font-family: "Nunito", "Helvetica Neue";
}
.textAnimation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: 100%;
}
.modal2 {
	position: absolute;
	top: 0;
	left: 100%;
	width: 50%;
	height: 100%;
	z-index: 10;
	background: rgb(119, 73, 115);
}
.modal3 {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	z-index: 10;

	background: rgb(68, 38, 68);
}
.modal4 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	z-index: 10;

	background-color: #7e4f4f;
}

.main_title {
	font-size: 3rem;
	font-weight: lighter;
}
.container {
	position: absolute;
	z-index: 1;
	width: 80%;
	background-color: transparent;
	height: auto;
	padding: 4rem;
	top: 100%;
	left: 10%;
	display: grid;

	gap: 10px;
	grid-template-columns: 10% 10% 20% 50% 10%;
	grid-template-rows: auto;
	grid-template-areas: "space1 hero info_me info_me space2" " space1 info_side info_side job_and_xp space3";
	opacity: 0;
}
.empty1 {
	grid-area: space1;
	background-color: #7e4f4f;
	opacity: 0;
}
.empty2 {
	grid-area: space2;
	background-color: transparent;
}

.empty3 {
	grid-area: space3;
	background-color: rgb(25, 46, 66);
	opacity: 0;
}
.hero_image {
	width: 100%;
	height: auto;
	border-radius: 50px;
}
.info_me {
	grid-area: info_me;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;
	background-color: rgb(25, 46, 66);
}
.info_me > p {
	margin-top: 1rem;
}
.hero {
	grid-area: hero;
	display: grid;
	align-items: center;
	opacity: 0;
}
.info_side {
	grid-area: info_side;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2rem;
	opacity: 0;
	background: #7e4f4f;
}
.info_side > div {
	margin-bottom: 100px;
}
.job_and_xp {
	opacity: 0;
	grid-area: job_and_xp;
	padding: 0 2rem;
}
span,
p {
	margin-left: 1rem;
}
h3 {
	padding: 0.5rem 0 0.5rem 0;
}
h2 {
	padding: 1rem 0;
}
h4 {
	font-size: 1.2rem;
}
/* h4,
h2 {
	animation: anim 2s infinite;
} */
.under {
	width: fit-content;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.under::after {
	content: "";
	position: absolute;

	background: rgb(240, 75, 75);
	width: 0;

	top: 22px;
	height: 3px;
	animation: anim 3s infinite;
}
.tremble {
	animation: tremble 4s infinite, color 4s infinite;
}
.tremble:hover {
	animation: none;

	font-weight: bold;
	color: #000000;
}
.bubble {
	border-radius: 50%;
	position: absolute;
	transition: all 3s ease-in-out;
	opacity: 0.8;
	z-index: 1000;
}
.dashboard {
	position: fixed;
	top: 30px;
	right: 10px;
	background-color: #ccccccc5;
	color: black;
	font-size: 1rem;

	padding: 0.5rem 1rem;
	opacity: 0;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 8;
	transition: all 2s ease-in-out;
}
.dashboard > span {
	margin: 0;
}
.gameDashboard > span {
	margin: 0;
}

.bubbleCounter::after {
	content: " bubbles";
	width: fit-content;
	font-size: 1rem;

	color: black;
	opacity: 1;
}

.slider {
	display: flex;
	padding: 1rem;
}
.btn {
	padding: 1rem;
	font-weight: 500;
	font-size: 0.9rem;
	width: 150px;
	cursor: pointer;
	margin-top: 1rem;
	background-color: #383838;
	color: white;
}
.btn:hover {
	background-color: white;
	color: #383838;
}
.btn-plus {
	color: #383838;
}
.btn-plus:hover {
	transform: scale(1.2);
	transition: scale 1s ease;
	color: black;
	cursor: pointer;
}
.fyeah {
	padding: 2rem;
	font-size: 2rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.452);
	border-radius: 10px;
}

.gameDashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hide {
	display: none;
}

.onoff1 {
	font-family: "Nunito", "Helvetica Neue";
	animation: onoff 0.2s;
	animation-iteration-count: 5;
	animation-delay: 1s;
}
.onoff2 {
	font-family: "Nunito", "Helvetica Neue";
	animation: onoff 0.1s;
	animation-iteration-count: 15;
	animation-delay: 2s;
}
.onoff3 {
	font-family: "Nunito", "Helvetica Neue";
	animation: onoff 0.1s;
	animation-iteration-count: 9;
	animation-delay: 3s;
}
.letter {
	margin: 0;
	padding: 0;
	opacity: 0;
	position: relative;
	top: -200px;
}
.letters {
	position: relative;

	opacity: 1;
	/* top: -100px; */
	/* transition: all 0.5s; */
}
@keyframes onoff {
	0% {
		opacity: 0.1;
		color: black;
	}
	100% {
		opacity: 1;
		color: white;
	}
}
@keyframes anim {
	0% {
		width: 0;
		left: 50%;
	}
	100% {
		width: 100%;
		left: 0%;
	}
	/* 100% {
		width: 0;
		transform: translateX(50px);
		left: +150px;
	} */
}
@keyframes tremble {
	0%,
	100% {
		transform: translateX(5px);
		opacity: 0.6;
		color: rgb(255, 255, 255);
	}
	50% {
		transform: translateX(0);
		color: rgb(56, 56, 56);
		-webkit-text-stroke: 0.4px #ffffff;
		opacity: 1;
	}
}

@media screen and (max-width: 1000px) {
	/* div {
		margin: 1.5rem 0 0 0;
	} */

	.modal1 {
		font-size: 2rem;
	}
	body {
		overflow: visible;
		background-color: #383838;
		width: 100vw;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "dashboard" "hero" "info_me" "job_and_xp" "info_side";
		height: fit-content;
		width: 100%;
		/* padding: 200px 0 10px 0; */
		gap: 0;
		padding: 0;
		overflow: visible;
		transform: unset;
		left: 0;
	}
	.info_me {
		/* background-image: url("./imgs/leif.jpg");
		background-position: bottom center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: transparent; */
		/* padding-right: 100px; */

		width: 100%;
		display: inline;
		transform: none;
	}
	.info_side {
		justify-content: center;
		align-items: center;
		padding: 10px 10px;
	}
	.info_side > div {
		margin: 0;
	}
	.hero {
		display: flex;
		width: 100%;
	}
	.hero_image {
		width: 100%;
		border-radius: 0;
	}
	.dashboard {
		grid-area: dashboard;
		display: flex;
		position: relative;
		top: unset;
		left: unset;
		right: unset;
		width: 100%;

		border-radius: 0;
		padding: 1rem 0 0 0;
		margin: 0;
		opacity: 1;
		height: 100px;

		/* width: 120vw; */

		transition: none;
		background: white;
	}
	.job_and_xp {
		width: 100%;
		padding: 0 5px;
		background: rgb(25, 46, 66);
	}
	.info_side {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		text-align: flex-start;
	}
	.info_side > div > span {
		margin: 0;
	}
	.info_side > div {
		display: flex;
		flex-direction: column;
		text-align: flex-start;
		width: 100%;
		padding: 10px;
	}
}
